<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Populate Exercise</title>
    <style>
        #unread, #read {
        width: 40%;
        background-color: antiquewhite;
      }
      #workingOn { float: left; }
      #read { float: right; }
      table, td {
        border-width: 1px;
        border-style: solid;
        border-color: black;
      }
      #wrapper {
        width: 960px;
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      body {
        font-family: sans-serif;
        background-color: #C0FFEE;
      }
      #yourWorkout { margin-top: 50px; }
      #userinput { font-size: 24px; }
      input {
        width: 50%;
        height: 36px;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
      {{{body}}}
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
      <script src="app.js"></script>
  </body>

</html>
