<h1>hey</h1>
<div id="wrapper">
        <h1>Track Your Fitness</h1>
        <h2>Stay Fit!</h2>
        <form action="/newWorkout" method="POST">
            <input type="text" name="title" id="title" placeholder="workout name">
            <br>
            <input type="text" name"body" id="body" placeholder="body">
            <br>
            <input type="text" name="name" id="name" placeholder="name">
            <button type="submit" id="addWorkout">Start a session</button>
        </form>
</div>